<app-navigation></app-navigation>
<main id="main">
  <div class="ml-2 mr-2">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <div id="nav-bar-collapse"></div>
  <a href="#nav-bar-collapse">
      <a href="#nav-bar-collapse">
         <button data-toggle="collapse" data-target="#nav-bar-collapse" id="menu-response"
            class="btn btn-outline-success"><span class="fas fa-bars"></span></button>
      </a>
  </a>
  <!-- Modal -->
  <div class="modal fade" id="qrCodeUrl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info m-auto">Scan qr code to access website</h5>
        </div>
        <div class="modal-body text-center">
          <pre class="m-0 text-dark">{{ absUrl }}</pre>
          <!-- <img src="./qr-code-url.png" width="200" /> -->
          <div id="qr-code-url"></div>
        </div>
        <div class="modal-footer m-auto">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="donate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info m-auto">Donate to project</h5>
        </div>
        <div class="modal-body text-center">
          <pre class="m-0 text-dark h6">Please Donate To Bitcoin Address:</pre>
          <pre class="m-0 text-dark">{{btcAddress}}</pre>
          <img src="./../share/images/qr-code-donate.png" width="200" />
        </div>
        <div class="modal-footer m-auto">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</main>
