<section>
  <div class="font-weight-bold choose-maket">
    <span>Select market:</span>
    <span class="mx-1 cursor" *ngFor='let item of wigets'>
      <span class="button {{activeWiget.code == item.code ? 'maket-active' : '' }}" (click)="onSelectChart(item)">{{item.name}}</span>
    </span>
  </div>
  <!-- TradingView Widget BEGIN -->
  <div id="widget-cryptoprices"></div>
  <div id="widget-chart"></div>
  <!-- TradingView Widget END -->
</section>
<footer>
  <app-footer></app-footer>
</footer>
