:host {
  .menu-right {
    position: fixed;
    top: 75px;
    right: -31px;
    background: #26262b;
    border-left: 1px solid #5a5a5a;
    height: 100vh;
    width: 0px;
    padding: 15px;
  }
  .show-hide {
    right: 0;
    width: 300px;
  }
  .btn-show-hide {
    position: absolute;
    left: -39px;
    background: #0373CB;
    top: 32%;
    color: #FFF;
  }
}
