<div class="menu-right" [class.show-hide]="showHide">
  <div class="btn-show-hide" (click)="onShowHide()">
    <i class="pi pi-cog" [@rotatedState]='piSpinner' style="font-size: 30pt"></i>
  </div>
  <span>Locale change</span>
  <div *ngIf="selected">
    <p-dropdown [options]="locales" [(ngModel)]="selected" filter="true" [style]="{'width':'100%'}" (onChange)="onChange($event)">
      <ng-template let-item pTemplate="selectedItem">
        <img src="https://www.countryflags.io/{{item.icon}}/shiny/32.png" style="width:24px;vertical-align:middle" />
        <span style="vertical-align:middle; margin-left: .5em; text-transform:capitalize;">{{item.label}}</span>
      </ng-template>
      <ng-template let-row pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <img src="https://www.countryflags.io/{{row.icon}}/shiny/32.png" style="width:24px;position:absolute;top:1px;left:5px" />
          <span style="font-size:14px;float:right;margin-top:4px; text-transform:capitalize;">{{row.label}}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <ng-content></ng-content>
</div>
